.contact {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 2rem;
  margin: 0 10% 10% 10%;
  border-radius: 8px;
  box-sizing: border-box;
}

.contact .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  margin: 0 7% 0 7%;
  padding: 10px;
}

.links h2 {
  text-align: center;
  grid-column: span 3; 
  animation: fadeInRight 1s ease-in-out;
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.form-whatsapp {
  display: grid;
  justify-content: center;
  gap: 18px;
}

.form-whatsapp h2{
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0;
  animation: fadeInRight 1s ease-in-out;
}

.form-whatsapp .btn-whatsapp {
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  animation: fadeInRight 1s ease-in-out;
  transition: background-color 1s ease;
}

.form-whatsapp .btn-whatsapp:hover {
  background-color: #632dbb5b;
}

.form-whatsapp textarea {
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  color: white;
  height: 12.8rem;
  width: 100%; 
  max-width: 400px; 
  font-size: 1rem;
  border-radius: 7px;
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  resize: vertical; 
  box-sizing: border-box;
}

.form-email {
  width: 100%;
  margin: 0;
  padding: 0 0 1rem 0;
}

.form-email h2{
  text-align: center;
  margin: 0 0 2rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0;
  animation: fadeInRight 1s ease-in-out;
}

.form-email input{
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  color: white;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  border-radius: 7px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0 0 0.3rem 0;
}

.form-email textarea{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  height: 10rem;
  width: 100%; 
  max-width: 400px; 
  font-size: 1rem;
  border-radius: 7px;
  padding: 0.5rem;
  resize: vertical; 
  box-sizing: border-box;
  margin: 0 0 1.4rem 0;
}

.form-email .btn-email {
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  max-width: 400px;
  margin-bottom: 0;
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  animation: fadeInRight 1s ease-in-out;
  transition: background-color 1s ease;
}

.form-email button:hover {
  background-color: #632dbb5e;
}

.a-contact a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.a-contact a:hover {
  color: #632dbb;
}

.a-contact strong {
  color: #d3baf0;
}

@media (max-width: 768px) {
  .contact {
    margin: 0 5%; 
  }

  .contact .links {
    grid-template-columns: repeat(2, 1fr); 
    margin: 0 5%;
  }

  .forms {
    grid-template-columns: 1fr; 
  }

  .form-whatsapp textarea,
  .form-email textarea,
  .form-email input {
    max-width: 100%; 
  }

  .form-email .btn-email {
    max-width: 100%; 
  }
}


@media (max-width: 480px) {
  .contact {
    padding: 1rem;
  }

  .links h2 {
    font-size: 1.5rem; 
  }

  .contact .links {
    display: flex;
    flex-direction: column;
  }


  .form-whatsapp .btn-whatsapp,
  .form-email .btn-email {
    font-size: 1rem; 
  }

  .form-whatsapp textarea,
  .form-email textarea,
  .form-email input {
    padding: 0.3rem;
  }
}

@media ( max-width: 380px ) {
  .contact .links {
    display: flex;
    flex-direction: column;
  }
}
