/* General Styles */
header {
  position: static;
  padding: 20px; /* Fondo oscuro para el header */
}

header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  animation: fadeInDown 1s ease-in-out;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.profile-image {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-top: 10px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.4));
  transition: transform 0.3s ease, filter 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.6));
}

.profile_info p {
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 12px;
  margin-top: 20px;
  padding: 15px;
  animation: fadeInRight 1s ease-in-out;
  line-height: 1.6;
}

/* Flip Card */
.flip-card {
  height: 504px;
  perspective: 1500px;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  text-align: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transition: transform 2s ease;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip-card-front {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.flip-card-back {
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 40px;
  transform: rotateY(180deg);
  box-sizing: border-box;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flipped .flip-card-inner {
  transform: rotateY(-180deg);
}

.flipped{
  z-index: 0;
}

/* Media Queries */

@media (max-width: 768px) and ( min-width: 550px) {
  .flip-card{
    width: 100%;
    padding: 0;
  }
  .flip-card-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-image{
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile_info h1{
    font-size: 1.5rem;
  }
  .profile_info p{
    font-size: 1rem;
  }
  .flip-card-back{
    padding: 10px;
    font-size: 1rem;  
    line-height: 1.3;
    letter-spacing: 1.3px;  
    overflow-wrap: break-word;
  }
}

@media (max-width: 550px) and ( min-width: 480px) {
  .flip-card{
    width: 100%;
    padding: 0;
  }
  .flip-card-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-image{
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile_info h1{
    font-size: 1.5rem;
  }
  .profile_info p{
    font-size: 1rem;
  }
  .flip-card-back{
    padding: 10px;
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: 1.3px;
    overflow-wrap: break-word;
  }
}

@media (max-width: 480px) and ( min-width: 380px) {
  .flip-card{
    width: 100%;
    padding: 0;
  }
  .flip-card-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-image{
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile_info h1{
    font-size: 1.5rem;
  }
  .profile_info p{
    font-size: 1rem;
  }
  .flip-card{
    max-width: 90%;
    height: 400px;
  }
  .flip-card-back{
    padding: 10px;
    font-size: 0.7rem;
    line-height: 1.3;
    letter-spacing: 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media (max-width: 380px){
  .flip-card-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .profile-image{
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile_info h1{
    font-size: 1.5rem;
  }
  .profile_info p{
    font-size: 1rem;
  }
  .flip-card{
    max-width: 90%;
  }
  .flip-card-back{
    padding: 10px;
    font-size: 0.7rem;
    line-height: 1.3;
    letter-spacing: 1.5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media (max-width: 280px){ 
  .flip-card{
    width: 100%;
    padding: 0;
  }
  .flip-card-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-image{
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile_info h1{
    font-size: 1.5rem;
  }
  .profile_info p{
    font-size: 1rem;
  }
  .flip-card-back{
    padding: 10px;
    font-size: 0.7rem;
    line-height: 1.3;
    letter-spacing: 1.5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
}

/* Animations */
@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(20px); }
  100% { opacity: 1; transform: translateX(0); }
}
