.container-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  align-items: center;
  padding: 3vh 0 3vh 0;
  margin: 0 10% 0 10%;
  border-radius: 7px;
  gap: 1rem;
  font-size: 1.1rem;
  flex-wrap: wrap;
}
  
  .container-nav .route {
    color: rgb(32, 2, 141);
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 5px 10px; 
    border-radius: 5px;
    box-shadow: 5px 4px 5px 2px rgba(32, 2, 141, 0.61);
    transition: background-color 0.3s ease;
    margin: 5px;
  }

  .container-nav .route:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(32, 2, 141);
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .container-nav {
      font-size: 1rem; 
      gap: 1.5rem; 
    }
  
    .container-nav .route {
      padding: 4px 8px; 
    }
  }
  
  @media (max-width: 480px) {
    .container-nav {
      font-size: 0.9rem; 
      gap: 1rem; 
      flex-direction: column;
    }
  
    .container-nav .route {
      padding: 3px 6px; /* Reduce el padding para dispositivos pequeños */
      width: 30%; /* Ajusta el ancho para que los elementos ocupen más espacio horizontal en dispositivos pequeños */
    }
  }
  
