.projects {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
  }
  
  .projects h2 {
    margin: 0px;
    width: 100%;
    font-size: 2rem;
    border-bottom: 2px solid #afadad;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .ul-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
    margin: 0 7%;
    padding: 10px;
  }
  
  .ul-projects a:hover {
    padding: 3px;
    border-radius: 7px;
    background-color: rgb(32, 22, 92);
    transition: background-color 0.3s ease;
  }